.desktop-header{
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/9492b189-3ee5-4f31-a468-509168fc7e3a-profile_image-70x70.png);
    background-size: contain;
    background-repeat-x: no-repeat;
    background-color: #ff56c1;
    background-position-x: 130px;
}