.desktop-header{
    background-image: url(https://i.imgur.com/VDSA3Qe.gif);
    background-size: contain;
    background-repeat-x: no-repeat;
    background-color: hsl(39deg 72% 41%);
    background-position-x: 130px;
}