 #layout-content,.components-side-nav-left,.header-center,.views-headers-i18n-switcher,.views-headers-notification-menu,.views-headers-tutorial-menu,.logo{
    display: none!important;
}




#cristianghost{
    display: block!important;
    position: absolute;
    left: 40px;
}



#settingsbtn{
    display: block!important;
    position: absolute;
    right: 40px;
}
#reloadbtn{
    display: block!important;
    position: absolute;
    right: 140px;
}
.components-side-nav-right{
    width: 100%!important;
}
.views-headers-profile-menu{
    position: absolute;
    right: 20px;
}
.wrapper{
    width: 100%;
}